{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "always"
    ],
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ]
  }
}
